<main class="content-wrapper" [style.margin-left.%]="pageMarginLeftPercentage">
    <div class="work-panel">
        <div class="change-student-status-buttons">
            <button class="change-student-status-button" (click)="setActiveFormat(true)"
                [class.isActive]="isActiveFormat">Актуальные</button>
            <button class="change-student-status-button" (click)="setActiveFormat(false)"
                [class.isActive]="!isActiveFormat">Завершённые</button>
        </div>

        <hr>

        <div class="search-block">
            <app-search (searchChange)="handleSearch($event)"></app-search>
        </div>
    </div>

    <div class="student-list">
        <div *ngFor="let student of filteredStudents" class="student-block" [style.background-color]="student.color"
            (click)="openStudentProfile(student.id)">
            <div class="student-block-header">
                <h2 class="student-name">{{ student.name }}</h2>
                <span class="lesson-paid-badge" [class.paid]="unpaidLessonsCount.get(student.id)===0">
                    {{unpaidLessonsCount.get(student.id)===0 ? '✓' : '₽'}}
                </span>
            </div>

            <div class="divider"></div>

            <div class="student-block-content">
                <div class="student-block-info">
                    <p>Предмет: <span class="student-value">{{ student.subject }}</span></p>
                    <p>Телефон: <span class="student-value">{{ formatPhoneNumber(student.phone) }}</span></p>
                </div>
                <div class="student-block-lessons">
                    <p>
                        Последнее занятие:
                        <ng-container *ngIf="isPrevLessonsLoading; else prevLessonLoaded">
                            <span class="loading-text">Загрузка...</span>
                        </ng-container>
                        <ng-template #prevLessonLoaded>
                            <span class="student-value" [class.no-data]="!(prevLessons$ | async)?.get(student.id)">
                                {{ getPrevLessonDate((prevLessons$ | async)?.get(student.id)) }}
                            </span>
                        </ng-template>
                    </p>
                    <p>
                        Следующее занятие:
                        <ng-container *ngIf="isNextLessonsLoading; else nextLessonLoaded">
                            <span class="loading-text">Загрузка...</span>
                        </ng-container>
                        <ng-template #nextLessonLoaded>
                            <span class="student-value" [class.no-data]="!(nextLessons$ | async)?.get(student.id)">
                                {{ getNextLessonDate((nextLessons$ | async)?.get(student.id)) }}
                            </span>
                        </ng-template>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button (click)="addStudent()" class="add-student-button">
            <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png"
                class="add-icon">
            <span class="button-text">Добавить студента</span>
        </button>
    </div>
</main>