<main class="content-wrapper" [style.margin-left.%]="pageMarginLeftPercentage">
    <div *ngIf="student" class="profile-container">
        <div class="profile-header">
            <h2 class="student-name">{{ student.name }}</h2>
            <div class="actions">
                <button class="delete-button" (click)="deleteStudent(student.id)">
                    <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Bucket.png"
                        class="delete-icon">
                    <span class="button-content">Удалить</span>
                </button>
                <button class="edit-button" (click)="updateStudent()">
                    <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Pencil.png"
                        class="edit-icon">
                    <span class="button-content">Изменить</span>
                </button>
            </div>
        </div>

        <div class="statistics">
            <div class="statistics-info">
                <span class="info-label stat-label">Итого проведено:</span>
                <span class="info-value stat-value"> {{ prevLessonsCount }} </span>
            </div>
            <div class="statistics-info">
                <span class="info-label stat-label">Неоплачено уроков:</span>
                <span class="info-value stat-value" [class.red]="unpaidLessonsCount>0"> {{ unpaidLessonsCount }}
                </span>
            </div>
            <div class="statistics-info">
                <span class="info-label stat-label">Предоплачено уроков:</span>
                <span class="info-value  stat-value" [class.green]="prepaidLessonsCount>0"> {{ prepaidLessonsCount }}
                </span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="student-lessons">
            <app-lesson-slider [studentId]="student.id"></app-lesson-slider>
        </div>

        <div class="divider"></div>

        <div class="student-info">
            <div class="info-column">
                <div class="info-item">
                    <span class="info-label">Телефон:</span>
                    <span class="info-value phone">{{ formatPhoneNumber(student.phone) }}</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Предмет:</span>
                    <span class="info-value subject">{{ student.subject }}</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Цвет:</span>
                    <svg class="color-preview" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="10" [attr.fill]="student.color || '#ffffff'" />
                    </svg>
                </div>

                <div class="info-item">
                    <span class="info-label">Статус:</span>
                    <span class="info-value status" [class.active]="student.isActive"
                        [class.inactive]="!student.isActive">
                        {{ student.isActive ? 'Активный' : 'Завершенный' }}
                    </span>
                </div>
            </div>

            <div class="info-column">
                <div class="info-item">
                    <span class="info-label">Способ связи:</span>
                    <div class="info-value with-icon">
                        <img class="value-icon" [src]="getCommunicationIcon(student.communication)" alt="Communication">
                        <span>{{ student.communication }}</span>
                    </div>
                </div>

                <div class="info-item">
                    <span class="info-label">Платформа:</span>
                    <div class="info-value with-icon">
                        <img class="value-icon" [src]="getPlatformIcon(student.platform)" alt="Platform">
                        <span>{{ student.platform }}</span>
                    </div>
                </div>

                <div class="info-item">
                    <span class="info-label">Откуда пришел:</span>
                    <div class="info-value with-icon">
                        <img class="value-icon" [src]="getFromIcon(student.from)" alt="Source">
                        <span>{{ student.from }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cost-block">
            <h3 class="cost-title">Стоимость часа:</h3>
            <div class="cost-amount">{{ student.cost }} ₽</div>
        </div>
    </div>

    <div class="lesson-button-container">
        <button class="lesson-button floating-button" (click)="addLesson()">
            <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png"
                class="lesson-icon">
            <span>Добавить занятие</span>
        </button>
    </div>

    <div *ngIf="!student" class="empty-state">
        <p>Нет данных о студенте</p>
    </div>
</main>