<div class="form-container">
    <h2 class="form-title">{{title}}</h2>
    <div class="form-content">
        <form [formGroup]="studentForm" class="student-form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="input-name" class="form-label">Имя:</label>
                <input formControlName="name" id="input-name" class="form-input" placeholder="Введите имя ученика">
                <div *ngIf="formSubmitted && studentForm.get('name')?.errors" class="error-message">
                    {{ getError('name') }}
                </div>
            </div>

            <div class="form-group">
                <label for="input-phone" class="form-label">Телефон:</label>
                <input formControlName="phone" id="input-phone" class="form-input" type="tel"
                    placeholder="+7XXXXXXXXXX">
                <div *ngIf="formSubmitted && studentForm.get('phone')?.errors" class="error-message">
                    {{ getError('phone') }}
                </div>
            </div>

            <div class="form-group">
                <label for="input-subject" class="form-label">Предмет:</label>
                <input formControlName="subject" id="input-subject" class="form-input"
                    placeholder="История, Экономика...">
                <div *ngIf="formSubmitted && studentForm.get('subject')?.errors" class="error-message">
                    {{ getError('subject') }}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Где общаемся:</label>
                <app-custom-select [options]="communicationOptions"
                    [selectedValue]="studentForm.get('communication')?.value"
                    (selected)="onSelectCommunication($event.value)">
                </app-custom-select>
                <div *ngIf="formSubmitted && studentForm.get('communication')?.errors" class="error-message">
                    {{ getError('communication') }}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Где занимаемся:</label>
                <app-custom-select [options]="platformOptions" [selectedValue]="studentForm.get('platform')?.value"
                    (selected)="onSelectPlatform($event.value)">
                </app-custom-select>
                <div *ngIf="formSubmitted && studentForm.get('platform')?.errors" class="error-message">
                    {{ getError('platform') }}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Откуда пришел:</label>
                <app-custom-select [options]="fromOptions" [selectedValue]="studentForm.get('from')?.value"
                    (selected)="onSelectFrom($event.value)">
                </app-custom-select>
                <div *ngIf="formSubmitted && studentForm.get('from')?.errors" class="error-message">
                    {{ getError('from') }}
                </div>
            </div>

            <div class="form-group">
                <label for="input-cost" class="form-label">Стоимость за час:</label>
                <div class="input-with-symbol">
                    <input formControlName="cost" id="input-cost" class="form-input" placeholder="1000">
                    <span class="currency-symbol">₽</span>
                </div>
                <div *ngIf="formSubmitted && studentForm.get('cost')?.errors" class="error-message">
                    {{ getError('cost') }}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Статус:</label>
                <select formControlName="isActive" [compareWith]="compareFn">
                    <option *ngFor="let option of statusOptions" [ngValue]="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <div *ngIf="formSubmitted && studentForm.get('isActive')?.errors" class="error-message">
                    {{ getError('isActive') }}
                </div>
            </div>

            <div class="form-group">
                <label for="input-color" class="form-label">Цвет:</label>
                <input formControlName="color" id="input-color" class="form-input" placeholder="#ffffff" type="color">
                <div *ngIf="formSubmitted && studentForm.get('color')?.errors" class="error-message">
                    {{ getError('color') }}
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="submit-button">
                    {{submitMessage}}
                </button>
                <button type="button" (click)="close(false)" class="cancel-button">
                    Отмена
                </button>
            </div>
        </form>
    </div>

</div>