<div class="form-container">
    <span class="form-title">{{title}}</span>
    <div class="form-content">
        <form [formGroup]="slotForm" class="slot-form" (ngSubmit)="submit()">

            <div class="input-columns">
                <div class="input-column">
                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-date" class="form-label">Дата:</label>
                            <input formControlName="date" id="input-date" class="form-input" type="date">
                        </div>
                        <div *ngIf="formSubmitted && slotForm.get('date')?.errors" class="error-message">
                            {{ getErrorMessage('date') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-startTime" class="form-label">Время начала:</label>
                            <input formControlName="startTime" id="input-startTime" class="form-input" type="time">
                        </div>
                        <div *ngIf="formSubmitted && slotForm.get('startTime')?.errors" class="error-message">
                            {{ getErrorMessage('startTime') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-endTime" class="form-label">Время конца:</label>
                            <input formControlName="endTime" id="input-endTime" class="form-input" type="time">
                        </div>
                        <div *ngIf="formSubmitted && slotForm.get('endTime')?.errors" class="error-message">
                            {{ getErrorMessage('endTime') }}
                        </div>
                    </div>
                </div>
                <div class="input-column">
                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-hasRealEndTime" class="form-label">Другое время окончания:</label>
                            <label class="checkbox-container">
                                <input type="checkbox" id="input-hasRealEndTime" class="checkbox-input"
                                    formControlName="hasRealEndTime">
                                <span class="checkbox-custom"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="slotForm.get('hasRealEndTime')?.value">
                        <div class="form-row">
                            <label for="real-end-time" class="form-label">Настоящее время окончания:</label>
                            <input type="time" id="real-end-time" formControlName="realEndTime" class="form-input">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-isRepeat" class="form-label">Повторять еженедельно:</label>
                            <label class="checkbox-container">
                                <input type="checkbox" id="input-isRepeat" formControlName="isRepeat"
                                    class="checkbox-input">
                                <span class="checkbox-custom"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="slotForm.get('isRepeat')?.value">
                        <div class="form-row">
                            <label for="repeat-end-date" class="form-label">Повторять до:</label>
                            <input type="date" id="repeat-end-date" formControlName="repeatEndDate" class="form-input">
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="formSubmitted && slotForm.errors" class="form-errors">
                <div class="error-message">
                    {{ getFormErrorMessage() }}
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="button submit-button">
                    {{submitMessage}}
                </button>
                <button type="button" (click)="convertToLesson()" class="button convert-button">
                    Сделать занятием
                </button>
                <button type="button" (click)="close()" class="button cancel-button">
                    Отмена
                </button>
                <button type="button" (click)="delete()" class="button delete-button" *ngIf="isEditMode()">
                    Удалить
                </button>
            </div>
        </form>
    </div>

</div>