<app-navigation></app-navigation>
<main class="content-wrapper" [style.margin-left]="marginLeft">
    <div class="change-student-status-buttons">
        <button class="change-student-status-button" (click)="setActual(true)">Актуальные</button>
        <button class="change-student-status-button" (click)="setActual(false)">Завершённые</button>
    </div>
    <hr>

    <div class="button-container">
        <button (click)="openDialog()" class="add-student-button">
            <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png"
                class="add-icon">
            <span class="button-text">Добавить студента</span>
        </button>
    </div>
    <div class="student-list">
        <div *ngFor="let student of students" class="student-block" (click)="openStudentProfile(student.id)">
            <h3>{{ student.name }}</h3>
            <p>Имя: {{ student.name }}</p>
            <p>Телефон: {{ student.phone }}</p>
        </div>
    </div>
</main>