<main class="content-wrapper" [style.margin-left.%]="pageMarginLeftPercentage">
    <div class="manager-panel">
        <button class="format-button" [class.active]="oneDayFormat" (click)="setOneDayFormat(true)">Один
            день</button>
        <button class="format-button" [class.active]="!oneDayFormat" (click)="setOneDayFormat(false)">На
            неделю</button>
        <button class="date-button" (click)="resetCurrentDate()">К сегодня</button>

        <div class="small-buttons">
            <button class="small-button" (click)="goPrev()">
                <img class="small-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Arrow%20Icon%20Swap.png">
            </button>
            <button class="small-button" (click)="findDate()">
                <img class="small-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Magnifier%20Icon.png">
            </button>
            <button class="small-button" (click)="goNext()">
                <img class="small-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Arrow%20Icon.png">
            </button>
        </div>
    </div>

    <app-today-lessons-table *ngIf="oneDayFormat" [currentDate]="currentDate"></app-today-lessons-table>
    <app-schedule-table *ngIf="!oneDayFormat" [currentDate]="currentDate"></app-schedule-table>

    <div class="add-button-container" *ngIf="!oneDayFormat">
        <button class="add-button" (click)="addScheduleObject()">
            <img class="button-icon"
                src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png">
            <span class="add-button-text">Добавить</span>
        </button>
    </div>
</main>