<main class="content-wrapper" [style.margin-left.%]="pageMarginLeftPercentage">
    <div class=calendar>
        <div class="calendar-sticky-header">
            <div class="change-schedule-status-buttons">
                <button class="change-schedule-status-button" (click)="resetCurrentDate()"> Вернуться к сегодня</button>
                <button class="change-schedule-status-button" (click)="setOneDayFormat(true)"
                    [class.isActive]="isOneDayFormat">Один день</button>
                <button class="change-schedule-status-button" (click)="setOneDayFormat(false)"
                    [class.isActive]="!isOneDayFormat">На неделю</button>
                <button class="date-button" id="prev-date-button" (click)="goToPrev()">
                    <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Arrow%20Icon%20Swap.png"
                        class="button-icon">
                </button>
                <button class="date-button" id="find-date-button" (click)="findDate()">
                    <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Magnifier%20Icon.png"
                        class="button-icon">
                </button>
                <button class="date-button" id="next-date-button" (click)="goToNext()">
                    <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Arrow%20Icon.png"
                        class="button-icon">
                </button>
            </div>

            <div *ngIf="isOneDayFormat" class="info">
                <span *ngIf="isOneDayFormat">{{getCurrentDateInString()}}</span>
                <span id="today-info" *ngIf="showTodayMessage()"> Сегодня</span>
                <button *ngIf="isOneDayFormat" class="print-button" (click)="printTable()">Печать</button>
            </div>
            <div *ngIf="!isOneDayFormat" class="info">
                <span id="year-info" *ngIf="!isOneDayFormat">{{currentDate.getFullYear()}} </span>
                <span id="week-info" *ngIf="showWeekMessage()">Текущая неделя</span>
            </div>

            <div class="calendar-header" *ngIf="!isOneDayFormat">
                <div class="time-label"></div>
                <div *ngFor="let date of currentWeekDates; let i = index" class="day-header"
                    [class.today]="dateIsToday(date)">
                    {{weekDayNames[i]}},
                    {{ date.getDate() }}
                    {{monthNames[date.getMonth()]}}
                </div>
            </div>
        </div>

        <div class="calendar-body" *ngIf="!isOneDayFormat">
            <div *ngFor="let time of times" class="calendar-row" [style.height.px]="blockHeightPixels">
                <div class="time-value">
                    {{time}}
                    <div class="time-block" [style.height.px]="blockHeightPixels"></div>
                </div>
                <div *ngFor="let dayName of weekDayNames" class="cell" (click)="cellIsClicked(time, dayName)"
                    [class.disabled]="isCellDisabled(time, dayName)" [style.width.%]="blockWidthPercentage">
                    <span class="hover-only">
                        <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png"
                            class="cell-icon">
                    </span>
                </div>
            </div>

            <div *ngFor="let lesson of lessons" class="lesson" [style.min-height]="getLessonHeight(lesson)"
                [style.height]="getLessonHeight(lesson)" [style.width.%]=" blockWidthPercentage"
                [style.top.px]="getLessonTop(lesson)" [style.left.%]="getLessonLeft(lesson)"
                (click)="editLesson(lesson)">

                <div class="lesson-content" [style.background-color]="getStudentByLesson(lesson)?.color">
                    <span class="lesson-time">{{lesson.startTime}} - {{lesson.endTime}}</span>
                    <br />
                    <span class="student-name">{{getStudentByLesson(lesson)?.name}}</span>
                </div>
            </div>

            <div *ngFor="let slot of slots" class="slot" [style.min-height]="getSlotHeight(slot)"
                [style.height]="getSlotHeight(slot)" [style.width.%]=" blockWidthPercentage"
                [style.top.px]="getSlotTop(slot)" [style.left.%]="getSlotLeft(slot)" (click)="editSlot(slot)">

                <div class="slot-content">
                    <span class="slot-time">{{slot.startTime}} - {{slot.endTime}}</span>
                </div>
            </div>

        </div>

        <div class="one-day-calendar" *ngIf="isOneDayFormat">
            <table class="one-day-table" id="schedule-table">
                <thead>
                    <tr class="table-header">
                        <th class="time-start-column">Начало</th>
                        <th class="time-end-column">Конец</th>
                        <th class="time-distance-column">Время</th>
                        <th class="student-column">Ученик</th>
                        <th class="communication-column">Где общаемся</th>
                        <th class="platform-column">Где занимаемся</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lesson of oneDayLessons; let i = index">
                        <tr class="lesson-info-row">
                            <td class="time-start-cell">{{lesson.startTime}}</td>
                            <td class="time-end-cell">{{lesson.endTime}}</td>
                            <td class="time-distance-cell" [class.not-default]="notDefaultTime(lesson)">
                                {{getTimeDifference(lesson.startTime,
                                lesson.endTime)}} мин
                            </td>
                            <td class="student-cell">{{getStudentByLesson(lesson)?.name}}</td>
                            <td class="communication-cell"
                                [style.background-color]="getAppColor(getStudentByLesson(lesson)?.communication)">
                                {{getStudentByLesson(lesson)?.communication}}</td>
                            <td class="platform-cell"
                                [style.background-color]="getAppColor(getStudentByLesson(lesson)?.platform)">
                                {{getStudentByLesson(lesson)?.platform}}</td>
                        </tr>
                        <tr class="break-row" *ngIf="i < oneDayLessons.length - 1">
                            <td colspan="6" class="break-cell">
                                Перерыв {{getBreakTime(i)}} минут
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="fixed-block">
        <button (click)="addScheduleObject()" class="add-lesson-button">
            <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png"
                class="add-lesson-icon">
            <span>Добавить</span>
        </button>
    </div>
</main>