<main class="content-wrapper" [style.margin-left.%]="pageMarginLeftPercentage">

    <div class="manager-panel">
        <button class="back-button" (click)="goBack()">Назад</button>

        <button class="date-button" (click)="resetCurrentDate()">К сегодня</button>

        <div class="small-buttons">
            <button class="small-button" (click)="goPrev()">
                <img class="small-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Arrow%20Icon%20Swap.png">
            </button>
            <button class="small-button" (click)="findDate()">
                <img class="small-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Magnifier%20Icon.png">
            </button>
            <button class="small-button" (click)="goNext()">
                <img class="small-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Arrow%20Icon.png">
            </button>
        </div>
    </div>

    <div class="schedule-grid">
        <div *ngFor="let dayName of weekDayNames; let i = index" class="day-header" [class.today]="isToday(i)"
            [style.height.px]="headerHeight">
            {{ dayName }}, {{ weekDates[i].getDate() }} {{ monthNames[weekDates[i].getMonth()] }}
        </div>

        <ng-container *ngFor="let dayIndex of [0, 1, 2, 3, 4, 5, 6]">
            <div class="day-column">
                <div *ngFor="let block of getBlocksForDay(dayIndex)" class="waiting-block"
                    [style.background-color]="getStudent(block.studentId)?.color" [style.height.px]="blockHeight"
                    (click)="openBlock(block)">
                    <div class="block-content">
                        <span class="student-name">
                            {{ getStudent(block.studentId)?.name }}
                        </span>
                        <span class="note" *ngIf="block.note">
                            {{ block.note }}
                        </span>
                    </div>
                </div>
                <div class="add-waiting-block" [style.height.px]="blockHeight" (click)="cellIsClicked(dayIndex)">
                    <img class="add-icon"
                        src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png">
                </div>
            </div>
        </ng-container>
    </div>

    <div class="add-button-container">
        <button class="add-button" (click)="addWaitingBlock()">
            <img class="add-icon"
                src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png">
            <span class="button-text">Добавить</span>
        </button>
    </div>
</main>