<div class="centered-container">
    <div class="welcome-message">
        <h2>Добро пожаловать в Tutor Plus!</h2>
        <h2>Пожалуйста, войдите в аккаунт</h2>
    </div>

    <div class="centered-block">
        <button (click)="loginWithGoogle()" class="google-btn">
            <img src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Google%20Icon.png"
                width="100">
            <span class="inner-text">Войти через Google</span>
        </button>
    </div>
</div>