<main class="content-wrapper" [style.margin-left.%]="pageMarginLeftPercentage">
    <div class="welcome-message">
        <h1>Добро пожаловать</h1>
        <h3>Версия от 10.07.25</h3>
        <p>Это тестовый сервис для репетиторства и удобного менеджмента.</p>
        <p>Поскольку сервис находится в разработке здесь временно будут анектоды</p>
    </div>

    <div class="joke">
        <h3>Анекдот:</h3>
        <p>
            На экзамене по истории студент спрашивает соседа:
            <br>
            - Слышь, а когда отменили крепостное право?
            <br>
            - В шестьдесят первом.
            <br>
            - Тогда ж Гагарин в космос полетел.
            <br>
            - Ну, видимо, в честь этого и отменили.
        </p>
    </div>
    <div class="joke">
        <h3>Анекдот:</h3>
        <p>
            — Столица Британии?
            <br>
            — Рим.
            <br>
            — Столица Галлии?
            <br>
            — Рим.
            <br>
            — Столица Египта?
            <br>
            — Рим.
            <br>
            — Я ставлю вам двойку, Гай!
            <br>
            — Посмотрим…
        </p>
    </div>
    <div class="joke">
        <h3>Анекдот:</h3>
        <p>
            — Товарищ Сталин, а правда, что вы читаете по 500 страниц в день?
            <br>
            — Правда. И 300 из них — ночные доносы.
        </p>
    </div>
</main>