<main class="collections-container" [style.margin-left.%]="pageMarginLeftPercentage">
    <h1 class="collections-title">Текущие коллекции</h1>

    <div class="collections-grid">
        <div *ngFor="let col of collections" class="collection-card" (click)="openCollection(col)"
            [class.current]="isCurrent(col)">
            <span class="collection-name">{{col.name}}</span>
        </div>

        <div class="add-collection-card" (click)="addCollection()">
            <div class="add-collection-content">
                <img class="add-icon"
                    src="https://raw.githubusercontent.com/vvlaads/tutor-plus-resources/main/Plus%20Icon.png"
                    alt="Добавить коллекцию">
                <span class="add-collection-label">Добавить коллекцию</span>
            </div>
        </div>
    </div>
</main>