.search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.search-container {
    width: 100%;
}