<div class="form-container">
    <span class="form-title">{{title}}</span>
    <div class="form-content">
        <form [formGroup]="studentForm" class="student-form" (ngSubmit)="submit()">
            <div class="input-columns">
                <div class="input-column">
                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-name" class="form-label">Имя:</label>
                            <input formControlName="name" id="input-name" class="form-input"
                                placeholder="Введите имя ученика">
                        </div>
                        <div *ngIf="formSubmitted && studentForm.get('name')?.errors" class="error-message">
                            {{ getError('name') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-phone" class="form-label">Телефон:</label>
                            <input formControlName="phone" id="input-phone" class="form-input" type="tel"
                                placeholder="+7XXXXXXXXXX">
                        </div>
                        <div *ngIf="formSubmitted && studentForm.get('phone')?.errors" class="error-message">
                            {{ getError('phone') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-subject" class="form-label">Предмет:</label>
                            <input formControlName="subject" id="input-subject" class="form-input"
                                placeholder="История, Экономика...">
                        </div>
                        <div *ngIf="formSubmitted && studentForm.get('subject')?.errors" class="error-message">
                            {{ getError('subject') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-cost" class="form-label">Стоимость за час:</label>
                            <div class="input-with-symbol">
                                <input formControlName="cost" id="input-cost" class="form-input" placeholder="1000"
                                    type="number">
                                <span class="currency-symbol">₽</span>
                            </div>
                        </div>

                        <div *ngIf="formSubmitted && studentForm.get('cost')?.errors" class="error-message">
                            {{ getError('cost') }}
                        </div>
                    </div>

                    <div class="form-group color-group">
                        <div class="form-row">
                            <label class="form-label color-label">Цвет:</label>
                            <button type="button" class="color-picker-button" (click)="openColorPicker()">
                                <svg class="color-preview" viewBox="0 0 24 24">
                                    <circle cx="12" cy="12" r="10"
                                        [attr.fill]="studentForm.get('color')?.value || '#ffffff'" />
                                </svg>
                                <input formControlName="color" type="color" class="native-color-picker" #colorPicker
                                    (change)="onColorChange($event)">
                            </button>
                        </div>
                        <div *ngIf="formSubmitted && studentForm.get('color')?.errors" class="error-message">
                            {{ getError('color') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-note" class="form-label">Примечание:</label>
                            <textarea formControlName="note" id="input-note" class="form-input"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-isStopped" class="form-label">Приостановлен:</label>
                            <label class="checkbox-container">
                                <input type="checkbox" id="input-isStopped" class="checkbox-input"
                                    formControlName="isStopped">
                                <span class="checkbox-custom"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="studentForm.get('isStopped')?.value">
                        <div class="form-row">
                            <label for="stop-date" class="form-label">Приостановлен до:</label>
                            <input id="stop-date" formControlName="stopDate" class="form-input" type="date">
                        </div>
                    </div>
                </div>

                <div class="input-column">
                    <div class="form-group">
                        <div class="form-row">
                            <label class="form-label">Где общаемся:</label>
                            <app-custom-select [options]="communicationOptions"
                                [selectedValue]="studentForm.get('communication')?.value"
                                (selected)="onSelectCommunication($event.value)">
                            </app-custom-select>
                        </div>

                        <div *ngIf="formSubmitted && studentForm.get('communication')?.errors" class="error-message">
                            {{ getError('communication') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label class="form-label">Где занимаемся:</label>
                            <app-custom-select [options]="platformOptions"
                                [selectedValue]="studentForm.get('platform')?.value"
                                (selected)="onSelectPlatform($event.value)">
                            </app-custom-select>
                        </div>

                        <div *ngIf="formSubmitted && studentForm.get('platform')?.errors" class="error-message">
                            {{ getError('platform') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label class="form-label">Откуда пришел:</label>
                            <app-custom-select [options]="fromOptions" [selectedValue]="studentForm.get('from')?.value"
                                (selected)="onSelectFrom($event.value)">
                            </app-custom-select>
                        </div>

                        <div *ngIf="formSubmitted && studentForm.get('from')?.errors" class="error-message">
                            {{ getError('from') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label class="form-label">Статус:</label>
                            <select formControlName="isActive">
                                <option *ngFor="let option of statusOptions" [ngValue]="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="formSubmitted && studentForm.get('isActive')?.errors" class="error-message">
                            {{ getError('isActive') }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <label for="input-hasParent" class="form-label">Указать родителя:</label>
                            <label class="checkbox-container">
                                <input type="checkbox" id="input-hasParent" class="checkbox-input"
                                    formControlName="hasParent">
                                <span class="checkbox-custom"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="studentForm.get('hasParent')?.value">
                        <div class="form-row">
                            <label for="parent-name" class="form-label">Имя родителя:</label>
                            <input id="parent-name" formControlName="parentName" class="form-input"
                                placeholder="Введите имя родителя">
                        </div>
                    </div>

                    <div class="form-group" *ngIf="studentForm.get('hasParent')?.value">
                        <div class="form-row">
                            <label for="parent-phone" class="form-label">Телефон родителя:</label>
                            <input id="parent-phone" formControlName="parentPhone" class="form-input" type="tel"
                                placeholder="+7XXXXXXXXXX">
                        </div>

                        <div *ngIf="formSubmitted && studentForm.get('parentPhone')?.errors" class="error-message">
                            {{ getError('parentPhone') }}
                        </div>
                    </div>

                    <div class="form-group" *ngIf="studentForm.get('hasParent')?.value">
                        <div class="form-row">
                            <label class="form-label">Общение с родителем:</label>
                            <app-custom-select [options]="communicationOptions"
                                [selectedValue]="studentForm.get('parentCommunication')?.value"
                                (selected)="onSelectParentCommunication($event.value)">
                            </app-custom-select>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="studentForm.get('hasParent')?.value">
                        <div class="form-row">
                            <label class="form-label">Кто оплачивает:</label>
                            <select formControlName="paidByStudent">
                                <option *ngFor="let option of paidOptions" [ngValue]="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="formSubmitted && studentForm.errors" class="form-errors">
                <div class="error-message">
                    {{ getFormErrorMessage() }}
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="submit-button">
                    {{submitMessage}}
                </button>
                <button type="button" (click)="close()" class="cancel-button">
                    Отмена
                </button>
            </div>
        </form>
    </div>

</div>