html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Убедитесь, что диалог может растягиваться */
.mat-dialog-container {
    display: flex;
    padding: 0;
    overflow: hidden;
}

/* Для контента диалога */
.cdk-global-overlay-wrapper {
    align-items: center;
    justify-content: center;
}