<app-desktop-navigation *ngIf="deviceType === 'desktop'" [selectedSection]="selectedSection"
    (navigate)="redirectToTarget($event)" (logout)="logout()" [targetIsSelected]="targetIsSelected.bind(this)">
</app-desktop-navigation>

<app-tablet-navigation *ngIf="deviceType === 'tablet'" [selectedSection]="selectedSection"
    (navigate)="redirectToTarget($event)" (logout)="logout()" [targetIsSelected]="targetIsSelected.bind(this)">
</app-tablet-navigation>

<app-mobile-navigation *ngIf="deviceType === 'mobile'" [selectedSection]="selectedSection"
    (navigate)="redirectToTarget($event)" (logout)="logout()">
</app-mobile-navigation>